@import "../globals";

.ui-brdr-box {
	box-sizing: border-box;
}

.ui-link {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.ui-img {
	max-width: 100%;
	width: 100%;
	display: block;
}

.ui-mrgn-x {
	margin: {
		left: .5em;
		right: .5em;
	}
}

.ui-mrgn-y {
	margin: {
		top: 1em;
		bottom: 1em;
	}
}

.ui-mrgn-t-3 {
	margin-top: 3em;
}

.ui-mrgn-t-5 {
	margin-top: 5em;
}

.ui-mrgn-b {
	margin-bottom: .5em;
}

%flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.ui-flx-cntr-y {
	@extend %flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.ui-flx-cntr-x {
	@extend %flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.ui-flx-spc-btwn-x {
	@extend %flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.ui-flx-wrap {
	@extend %flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.ui-color-main {
	color: $main-color;
}

.ui-txt-bold {
	font-weight: 500;
}

.ui-no-underln {
	text-decoration: none;
}

.ui-w-50 {
  width: 50%;
}

.ui-brdr {
	border-width: 2px;
	border-style: solid;
}

.ui-brdr-b {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.ui-brdr-clr-sec {
	border-color: $secondary-color;
}

.ui-heading {
	text-transform: uppercase;
	letter-spacing: 3px;
}
